openapi: 3.0.0
info:
  title: NexTrust Backend API
  version: 0.3.0
  description: "API backend NexTrust — platform crowdfunding donasi yayasan
    berbasis blockchain (full custodial). User tidak menyentuh wallet Web3.
    Semua respons berformat { ok: boolean, ... }."
servers:
  - url: https://nextrust.my.id
  - url: http://100.69.27.113:3000
    description: Production
  - url: http://localhost:3000
    description: Local
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Error:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: string
          example: Pesan kesalahan
    DonorUser:
      type: object
      properties:
        id:
          type: string
          example: clx1234abc
        email:
          type: string
          example: budi@mail.com
        name:
          type: string
          example: Budi Santoso
        role:
          type: string
          example: DONOR
        isVerified:
          type: boolean
          example: false
        createdAt:
          type: string
          format: date-time
tags:
  - name: Health
    description: Status koneksi
  - name: Auth
    description: Registrasi & login (Yayasan / Dinsos / Admin)
  - name: Donatur
    description: Auth donatur untuk mobile app (register, login, refresh token)
  - name: Campaign
    description: Manajemen campaign donasi
  - name: RAB
    description: Pengecekan kewajaran anggaran (AI)
  - name: Donasi
    description: Donasi via QRIS
  - name: Milestone
    description: Bukti, penilaian AI, pelepasan dana
  - name: Payout
    description: Pencairan ke rekening bank
  - name: Pemda
    description: Resolusi campaign beku
paths:
  /api/transactions:
    get:
      tags:
        - Donasi
      summary: List riwayat semua transaksi donasi yang sukses (Admin/Dinsos)
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "1783226186845"
                        date:
                          type: string
                          example: "2026-07-05T18:02:39.000Z"
                        campaign:
                          type: string
                          example: "Bantuan Air Bersih"
                        amount:
                          type: integer
                          example: 50000
                        status:
                          type: string
                          example: "Funds Disbursed"
                        method:
                          type: string
                          example: "QRIS"
  /api/payouts/{payoutId}/process:
    post:
      tags:
        - Payout
      summary: Proses pencairan (simulasi transfer bank)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: payoutId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/campaigns/{id}/payouts:
    get:
      tags:
        - Payout
      summary: List semua pencairan untuk campaign ini
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
    post:
      tags:
        - Payout
      summary: Ajukan pencairan ke rekening bank
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  example: 5000000
      responses:
        "200":
          description: OK
  /api/campaigns/plan-draft:
    post:
      tags:
        - Campaign
      summary: Dapatkan AI Plan Draft dari RAB
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                targetAmount:
                  type: number
                  example: 10000000
                rabData:
                  type: object
      responses:
        "200":
          description: OK
  /api/campaigns:
    get:
      tags:
        - Campaign
      summary: List semua campaign
      responses:
        "200":
          description: Berhasil
    post:
      tags:
        - Campaign
      summary: Buat campaign (Yayasan / Admin)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - description
                - targetAmount
                - advanceAmount
                - totalMilestones
                - category
                - onChainId
              properties:
                title:
                  type: string
                  example: Bantuan Air Bersih
                description:
                  type: string
                  example: Campaign untuk tes QRIS sandbox
                targetAmount:
                  type: number
                  description: Total target dana (rupiah)
                  example: 1000000
                advanceAmount:
                  type: number
                  description: DP/modal awal. Maksimal 15% dari targetAmount.
                  example: 150000
                totalMilestones:
                  type: integer
                  description: Jumlah milestone, antara 2 sampai 6.
                  example: 2
                category:
                  type: string
                  enum:
                    - PEMBANGUNAN
                    - PENGADAAN_BARANG
                    - ALAT_KESEHATAN
                    - REKONSTRUKSI
                  example: PEMBANGUNAN
                onChainId:
                  type: string
                  description: ID unik untuk deploy ke blockchain. Harus unik tiap campaign.
                  example: test-campaign-001
                rabCID:
                  type: string
                  description: (opsional) CID dokumen RAB di IPFS.
                latitude:
                  type: number
                  example: -6.200000
                longitude:
                  type: number
                  example: 106.816666
                durationDays:
                  type: number
                  example: 30
      responses:
        "200":
          description: OK
  /api/campaigns/{id}:
    get:
      tags:
        - Campaign
      summary: Detail campaign
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        "404":
          description: Not Found
  /api/campaigns/{id}/donations:
    get:
      tags:
        - Donasi
      summary: List donasi untuk campaign
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
    post:
      tags:
        - Donasi
      summary: Mulai donasi (generate Midtrans Snap Token)
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                donorName:
                  type: string
                  example: John Doe
                amount:
                  type: number
                  example: 50000
      responses:
        "200":
          description: OK
  /api/auth/foundations:
    get:
      tags:
        - Auth
      summary: Dapatkan daftar Yayasan (Admin/Dinsos)
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  foundations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "user-1234"
                        name:
                          type: string
                          example: "Yayasan Peduli Anak"
                        email:
                          type: string
                          example: "peduli@yayasan.com"
                        skKemenkumham:
                          type: string
                          example: "URL/CID-dokumen-legal"
                        izinPub:
                          type: string
                          example: "URL-izin"
                        isVerified:
                          type: boolean
                          example: false
  /api/auth/register:
    post:
      tags:
        - Auth
      summary: Registrasi user (yayasan/dinsos/admin)
      description: Yayasan otomatis mendapat custodial wallet (disembunyikan) &
        mengisi rekening bank.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: yayasan@nextrust.id
                password:
                  type: string
                  example: password123
                name:
                  type: string
                  example: Yayasan Peduli
                role:
                  type: string
                  enum:
                    - FOUNDATION
                    - DINSOS
                    - ADMIN
                    - DONOR
                  example: FOUNDATION
                bankName:
                  type: string
                  example: BCA
                bankAccountNo:
                  type: string
                  example: "1234567890"
                bankHolder:
                  type: string
                  example: Yayasan Peduli
      responses:
        "200":
          description: Berhasil
        "400":
          description: Gagal
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/auth/verify-foundation/{id}:
    put:
      tags:
        - Auth
      summary: Verifikasi Yayasan (Dinsos Only)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Berhasil
  /api/auth/login:
    post:
      tags:
        - Auth
      summary: Login, mengembalikan JWT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: yayasan@nextrust.id
                password:
                  type: string
                  example: password123
      responses:
        "200":
          description: Token JWT
        "401":
          description: Kredensial salah
  /api/auth/donor/register:
    post:
      tags:
        - Donatur
      summary: Registrasi donatur baru
      description: |
        Khusus untuk mobile app. Role selalu `DONOR`.
        `confirmPassword` divalidasi di backend — harus sama dengan `password`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - dateOfBirth
                - phoneNumber
                - password
                - confirmPassword
              properties:
                name:
                  type: string
                  example: Dale Carnegie
                email:
                  type: string
                  example: dale@gmail.com
                dateOfBirth:
                  type: string
                  format: date
                  description: Format YYYY-MM-DD
                  example: "2004-03-16"
                phoneNumber:
                  type: string
                  description: Format Indonesia (08xxx, +62xxx, atau 62xxx)
                  example: "+6283145237891"
                password:
                  type: string
                  example: "•••••••"
                confirmPassword:
                  type: string
                  description: Harus sama dengan password
                  example: "•••••••"
      responses:
        "201":
          description: Registrasi berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  user:
                    $ref: "#/components/schemas/DonorUser"
        "400":
          description: Email sudah terdaftar / validasi gagal
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/auth/donor/login:
    post:
      tags:
        - Donatur
      summary: Login donatur — mengembalikan access token + refresh token
      description: |
        - **accessToken**: JWT pendek (default 15 menit), kirim di header `Authorization: Bearer <token>`
        - **refreshToken**: Token opaque panjang (default 30 hari), simpan di **Secure Storage**.

        ### Flow Refresh Token (Best Practice — OAuth 2.0)
        ```
        1. Simpan accessToken (memory) + refreshToken (Secure Storage)
        2. Setiap request → kirim Authorization: Bearer <accessToken>
        3. Dapat 401? → panggil POST /donor/refresh dengan refreshToken
        4. Dapat accessToken + refreshToken baru → simpan, retry request original
        5. /donor/refresh juga 401? → paksa logout, minta user login ulang
        ```
        Implementasi di mobile cukup **satu interceptor** yang menangkap 401.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  example: dale@gmail.com
                password:
                  type: string
                  example: "•••••••"
      responses:
        "200":
          description: Login berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  accessToken:
                    type: string
                    description: "JWT (15 menit). Kirim di header Authorization: Bearer."
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  refreshToken:
                    type: string
                    description: Token opaque (30 hari). Simpan di Secure Storage.
                    example: a3f9bc2e1d...
                  user:
                    $ref: "#/components/schemas/DonorUser"
        "401":
          description: Kredensial salah atau bukan akun Donatur
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/auth/donor/refresh:
    post:
      tags:
        - Donatur
      summary: Refresh — tukar refresh token → access token baru
      description: |
        Panggil endpoint ini saat menerima **401 Unauthorized** dari request lain.
        Menerapkan **token rotation**: refresh token lama langsung di-revoke dan
        diganti yang baru — selalu simpan `refreshToken` terbaru yang dikembalikan.

        Jika endpoint ini juga mengembalikan 401, berarti sesi sudah benar-benar
        expired → paksa logout dan minta user login ulang.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refreshToken
              properties:
                refreshToken:
                  type: string
                  example: a3f9bc2e1d...
      responses:
        "200":
          description: Token baru berhasil diterbitkan
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  accessToken:
                    type: string
                    description: Simpan, gunakan untuk request selanjutnya.
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  refreshToken:
                    type: string
                    description: Refresh token BARU — simpan ke Secure Storage, token lama sudah di-revoke.
                    example: b7c2de3f4a...
        "401":
          description: Refresh token tidak valid / sudah expired / sudah di-revoke → paksa logout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/auth/donor/logout:
    post:
      tags:
        - Donatur
      summary: Logout — revoke refresh token
      description: |
        Menonaktifkan refresh token sehingga tidak bisa dipakai lagi.
        Access token yang masih aktif tetap valid sampai expired (15 menit),
        namun tidak bisa di-refresh lagi.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refreshToken
              properties:
                refreshToken:
                  type: string
                  example: a3f9bc2e1d...
      responses:
        "200":
          description: Logout berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Logout berhasil
  /api/auth/donor/me:
    get:
      tags:
        - Donatur
      summary: Profil donatur yang sedang login
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Profil berhasil diambil
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  user:
                    $ref: "#/components/schemas/DonorUser"
        "401":
          description: Token tidak valid
        "403":
          description: Bukan akun Donatur
  /api/auth/donor/donations:
    get:
      tags:
        - Donatur
      summary: Riwayat donasi donatur yang sedang login
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Daftar donasi berhasil diambil
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  donations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: clx1234abc
                        amount:
                          type: string
                          description: Jumlah dalam satuan token (string karena BigInt)
                          example: "50000000000"
                        status:
                          type: string
                          enum: [PENDING, PAID, DEPOSITED, FAILED, EXPIRED]
                          example: DEPOSITED
                        orderId:
                          type: string
                          example: NEXTRUST-camp-001-1720000000000
                        paidAt:
                          type: string
                          format: date-time
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                        campaign:
                          type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                              example: Bantuan Air Bersih
                            imageUrl:
                              type: string
                              nullable: true
                            status:
                              type: string
                              example: ACTIVE
        "401":
          description: Token tidak valid
        "403":
          description: Bukan akun Donatur
  /api/webhooks/midtrans:
    post:
      tags:
        - Donasi
      summary: Webhook Midtrans untuk update status donasi
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Payload dari Midtrans
      responses:
        "200":
          description: OK
  /api/rabs:
    post:
      tags:
        - RAB
      summary: Cek kewajaran RAB (gerbang sebelum campaign dibuat)
      description: Backend menyimpan RAB, meneruskan ke AI evaluator, menyimpan
        verdict. Saat ini penilaian masih MOCK (diganti API AI nanti).
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaignDraftId:
                  type: string
                  nullable: true
                targetAmount:
                  type: number
                  example: 10000000
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Sumur bor
                      qty:
                        type: number
                        example: 1
                      unitPrice:
                        type: number
                        example: 5000000
      responses:
        "200":
          description: Verdict RAB
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  rab:
                    type: object
                    properties:
                      score:
                        type: integer
                        example: 100
                      reasonable:
                        type: boolean
                        example: true
                      notes:
                        type: string
                      source:
                        type: string
                        example: MOCK
        "400":
          description: RAB tidak valid
  /api/rabs/{id}:
    get:
      tags:
        - RAB
      summary: Ambil hasil RAB check
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Detail RAB check
        "404":
          description: Tidak ditemukan
  /api/system/health:
    get:
      tags:
        - Health
      summary: Status koneksi Smart Contract dan Oracle
      responses:
        "200":
          description: OK
  /api/campaigns/{id}/milestones/{index}/submissions:
    post:
      tags:
        - Milestone
      summary: Submit bukti milestone
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: path
          name: index
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                proofUrl:
                  type: string
                evidenceCID:
                  type: string
                description:
                  type: string
                latitude:
                  type: number
                  example: -6.200100
                longitude:
                  type: number
                  example: 106.816670
      responses:
        "200":
          description: OK
  /api/campaigns/{id}/milestones/{index}/evaluations:
    post:
      tags:
        - Milestone
      summary: AI submit skor milestone
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: path
          name: index
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                score:
                  type: integer
                  example: 85
                nonce:
                  type: integer
                  example: 12345
      responses:
        "200":
          description: OK
  /api/campaigns/{id}/advances/releases:
    post:
      tags:
        - Milestone
      summary: Cairkan dana awal (DP)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/campaigns/{id}/milestones/{index}/releases:
    post:
      tags:
        - Milestone
      summary: Cairkan dana milestone (setelah skor valid)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: path
          name: index
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
  /api/campaigns/{id}/resolutions:
    post:
      tags:
        - Pemda
      summary: Resolve frozen campaign
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approve:
                  type: boolean
                  example: true
      responses:
        "200":
          description: OK